.рамка {
    width: 500px;
    height: 500px;
    /* padding: 40px; */
    /* background-image: url(ц.jpg); */
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
    top: 200px;
    border-radius: 9999px;
}

.box {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

.child-1 {
    text-align: center;
    border: 2px solid green;
    top: 50px;
    right: 50px;
    left: 50px;
}
  
.child-2 {
    border: 2px solid greenyellow;
    top: 350px;
    right: 50px;
    left: 50px;
}

.child-3 {
    border: 2px solid orange;
    top: 350px;
    right: 50px;
    left: 350px;
}
.child-4 {
    border: 2px solid violet;
    top: 350px;
    right: 50px;
    left: 125px;
}

.child-5 {
    border: 2px solid black;
    top: 350px;
    right: 165px;
    bottom: 50px;
}

.child-6 {
    border: 2px solid blue;
    top: 350px;
    right: 230px;
    bottom: 50px;